<section
  id="formBlock"
  class="xl:h-[701px] xl:bg-[url('bgFormBlock.webp')] bg-[#F6F6F6] bg-no-repeat bg-cover xl:pt-0 pt-[60px] flex flex-col justify-center items-center"
>
  <div class="container-main xl:space-y-[50px] space-y-5">
    <div class="xl:space-y-6 space-y-3.5">
      <h6>Оставьте заявку на оборудование</h6>

      <p
        class="xl:leading-[25.2px] leading-[22.4px] xl:text-lg text-base font-medium"
      >
        Или звоните нам прямо сейчас для бесплатной консультации
      </p>
    </div>

    <load src="src/components/FormBlock/Form.html" />
  </div>

  <img
    class="xl:hidden block w-full object-cover"
    src="bgFormBlockMobile.webp"
    alt="Лампы"
  />
</section>
