<section class="xl:space-y-[50px] space-y-5">
  <h3 class="xl:text-center">Профессиональный технический свет</h3>

  <div class="grid xl:grid-cols-3 grid-cols-1 xl:gap-6 gap-3.5">
    <div class="grid xl:col-span-2 xl:grid-cols-2 grid-cols-1 xl:gap-6 gap-3.5">
      <div
        class="xl:col-span-2 shadow-card-product xl:h-[340px] h-[190px] xl:bg-[url('product1.webp')] bg-[url('productMobile1.webp')] bg-no-repeat bg-cover bg-[#fdfdfd] container-text-card-product"
      >
        <p class="title">Торговое освещение</p>
      </div>

      <div
        class="shadow-card-product xl:h-[290px] h-[190px] xl:bg-[url('product2.webp')] bg-[url('productMobile2.webp')] bg-no-repeat bg-cover container-text-card-product"
      >
        <p class="title">Внутреннее<br />освещение</p>
      </div>
      <div
        class="shadow-card-product xl:h-[290px] h-[190px] xl:bg-[url('product3.webp')] bg-[url('productMobile3.webp')] bg-no-repeat bg-cover container-text-card-product"
      >
        <p class="title">Уличное<br />освещение</p>
      </div>
    </div>

    <div
      class="shadow-card-product xl:h-auto h-[190px] xl:bg-[url('product4.webp')] bg-[url('productMobile4.webp')] bg-no-repeat bg-cover container-text-card-product"
    >
      <p class="title">садово-<br />парковое<br />освещение</p>
    </div>
  </div>

  <a href="https://galad.ru/" class="xl:mx-auto main-button">Перейти в каталог</a>
</section>
