<section class="xl:space-y-[50px] space-y-5">
  <h5 class="xl:text-center">
    Нашими клиентами являются<br />лидирующие белорусские компании
  </h5>

  <div class="xl:flex grid grid-cols-2 xl:gap-12 xl:mx-0 gap-3.5 items-center">
    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[125px] xl:h-auto h-[50px]"
        src="client1.webp"
        alt="БЧ"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[90px] xl:h-auto h-[92px]"
        src="client2.webp"
        alt="Славкий"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[114px] xl:h-auto h-[46px]"
        src="client3.webp"
        alt="BG"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[111px] xl:h-auto h-[97px]"
        src="client4.webp"
        alt="национальный аэропорт Минск"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[90px] xl:h-auto h-[97px]"
        src="client5.webp"
        alt="НАФМАН"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[83px] xl:h-auto h-[78px]"
        src="client6.webp"
        alt="ОАО MHNK"
      />
    </div>

    <div class="clients-container-card">
      <img
        class="object-contain xl:w-auto w-[105px] xl:h-auto h-[82px]"
        src="client7.webp"
        alt="KSK строймаркет"
      />
    </div>
  </div>
</section>
