<section class="space-y-10">
  <div class="flex xl:flex-row flex-col xl:items-center xl:gap-[62px] gap-5">
    <h3 class="xl:w-[635px] xl:flex-shrink-0">
      Осуществляем доставку до склада покупателя по Республике Беларусь
    </h3>

    <img src="delivery.webp" alt="Грузовик" />
  </div>

  <div class="flex xl:flex-row flex-col xl:justify-between xl:gap-0 gap-3.5">
    <load
      src="src/components/Delivery/Card.html"
      title="Гарантированное<br/>качество"
      desc="Предоставляем гарантию<br/> 5 лет на продукцию"
    />

    <load
      src="src/components/Delivery/Card.html"
      title="Надёжность"
      desc="Наши осветительные решения<br/>освещают Гомель, а также<br/>различные уголки Беларуси"
    />

    <load
      src="src/components/Delivery/Card.html"
      title="технический<br/>центр GALAD"
      desc="Выполняем ремонтные работы<br/>и являемся официальным техническим<br/>центром GALAD в Беларуси"
    />
  </div>
</section>
