<main
  class="xl:mb-0 mb-[60px] xl:h-[850px] xl:bg-[url('bgMain.webp')] bg-[url('bgMainMobile.webp')] bg-no-repeat bg-cover xl:py-0 py-[93px]"
>
  <div
    class="container-main h-full flex flex-col xl:justify-center xl:gap-[25px] gap-6"
  >
    <p class="text-white uppercase text-base font-bold leading-[20.8px]">
      ООО «ЛюксПроект»
    </p>

    <div class="xl:space-y-[45px] space-y-5">
      <h1>
        Оптовая продажа<br />
        светодиодного освещения
      </h1>

      <p
        class="xl:leading-[40.86px] leading-[27.24px] font-semibold xl:text-[30px] text-xl text-white"
      >
        Официальный дилер <span class="font-extrabold">GALAD</span
        ><br />в Республике Беларусь
      </p>

      <a href="https://galad.ru/" class="main-button">В каталог</a>
    </div>
  </div>
</main>
