<section
  id="about"
  class="flex xl:items-end items-center xl:flex-row flex-col xl:gap-10 gap-3.5"
>
  <div class="xl:space-y-[50px] space-y-5 xl:pb-[51px]">
    <h2>О компании</h2>

    <p
      class="xl:leading-[25.2px] leading-[22.4px] xl:text-lg text-base font-medium"
    >
      ООО «ЛюксПроект» предлагает широкий ассортимент энергоэффективных
      светодиодных осветительных систем. Наша команда поможет с подбором
      светильников и выполнит необходимые светотехнические расчёты.
      Мы гарантируем профессиональные консультации и своевременную поставку.
      Уделяя особое внимание качеству обслуживания, мы обеспечиваем гарантийное
      и постгарантийное сервисное обслуживание, стремясь к построению
      долгосрочных отношений с клиентами. «ЛюксПроект» - ваш надёжный партнёр
      в мире профессионального светодиодного освещения.
    </p>
  </div>

  <img
    class="xl:w-[540px] w-[240px] xl:h-[540px] h-[240px]"
    src="about.webp"
    alt="Лампы"
  />
</section>
