<section id="contact" class="space-y-5">
  <div class="xl:space-y-[50px] space-y-5">
    <h4 class="xl:text-center">Наши Контакты</h4>

    <div class="flex xl:gap-[110px] gap-3.5 xl:flex-row flex-col">
      <div class="contact-container">
        <p class="title">Телефон:</p>

        <a href="tel:+375292172211" class="value">+375 (29) 217-22-11</a>
      </div>

      <div class="contact-container">
        <p class="title">E-mail:</p>

        <a href="mailto:lxp2014@mail.ru" class="value">lxp2014@mail.ru</a>
      </div>

      <div class="contact-container">
        <p class="title">Адрес:</p>

        <p class="value">г. Гомель, ул. Барыкина 149, к-2-7</p>
      </div>

      <div class="contact-container">
        <p class="title">Время работы:</p>

        <p class="value">8:30–17:00</p>
      </div>
    </div>

    <iframe
      class="xl:h-[460px] h-[314px]"
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A2d0981a7d0fc722eff9647d3125a627038f520c826cf11b1e95cc5e359e19c85&amp;source=constructor"
      width="100%"
      frameborder="0"
    ></iframe>
  </div>
</section>
