<div
  id="menuMobile"
  class="fixed w-full h-screen bg-[#00000033] backdrop-blur-xl z-[1] xl:hidden flex flex-col gap-[120px] py-[94px] px-8 opacity-0 -translate-x-full transition-all duration-1000"
>
  <nav class="header-menu-mobile">
    <ul class="flex flex-col gap-5">
      <li>
        <a href="#about">О компании</a>
      </li>
      <li><a href="https://galad.ru/">Каталог</a></li>
      <li><a href="#formBlock">Оставить заявку</a></li>
      <li><a href="#contact">Контакты</a></li>
    </ul>
  </nav>

  <div class="self-center flex flex-col gap-6 items-center">
    <a
      class="leading-[20.8px] text-base text-center font-bold text-white"
      href="mailto:lxp2014@mail.ru"
      >lxp2014@mail.ru</a
    >

    <a
      class="font-extrabold text-xl leading-[26px] text-center text-white"
      href="tel:+375292172211"
      >+375 (29) 217-22-11</a
    >

    <button class="text-[#F7341F] leading-[18.2px] font-bold text-sm openModalForm">
      Заказать звонок
    </button>
  </div>
</div>
